body {
  background-color: aliceblue;
  text-align: center;
  /* display: inline; */
}
.box {
  height: 100px;
  width: 100px;
}
.container {
  height: 1500px;
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
  align-items: center;
}

.red {
  background-color: red;
}

.green {
  background-color: green;
}

.blue {
  background-color: blue;
}

.orange {
  background-color: orange;
}

.brown {
  background-color: brown;
}

.magneta {
  background-color: magenta;
}

.cyan {
  background-color: cyan;
}

.black {
  background-color: black;
}

.teal {
  background-color: teal;
}
